html {
  background-color: #f5f5f5;
  text-align: center;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #444444;
  font-family: "Libre Franklin", sans-serif;
  font-size: 50px;
  margin: 50px auto;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 550px;
  margin: 50px auto;
  padding: 0;
}

li {
  font-size: 50px;
}

a {
  color: #000000;
  text-decoration: none;
}

a span {
  display:none;
}

.email:hover {
  color: #e93e30;
}

.facebook:hover {
  color: #3b579d;
}

.twitter:hover {
  color: #5ea9dd;
}

.linkedin:hover {
  color: #0077b5;
}

.github:hover {
  color: #464442;
}

.blog:hover {
  color: #0085be;
}
